<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Attendance System</title>
</head>

<body>
    <video id="player"  autoplay></video>
    <button id="capture">Capture</button>
    <canvas id="canvas" width="320" height="240"></canvas>
    <form action="/register" method="post">
        Name: <input type="text" name="name" required>
        Register: <input id="register" type ="submit" value="Register" required>
    </form>
    
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>




<!-- // "use strict";
// const video = docuement.querySelector('#videoElement');
// const canvas = document.querySelector('#imageContainer');
// const context = canvas.getContext('2d');
// const button = document.querySelector('#button');
// const constraints = {audio:false, video:{width:1200, height:720}};
// const result = document.querySelector('#text'); -->